

* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    margin: 0;
}

.app-container {
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

ul, li {
    list-style: none;
}